@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    height: 100vh;
    transform: translateY(370px);
    background-image: url(blah.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    overflow: hidden;

}

h1{
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: 70px;
}

#demo{
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
}

.btn{
    all: unset;
}

.btn-style{
    background-color: #9F70FD;
    padding: 10px;
    font-size: 20px;
    color: #7F27FF;
    font-family: 'Source Code Pro', monospace;
    border-radius: 50px;
    border-color: black;
}